*.log
.ninja_deps
.ninja_log
build.ninja
.vscode/launch.json
*depends
qrc_dartagnan.cpp
libdartagnan.a
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
build/
.packages
libTestTarget.so
libMyBindings.so
.dart_tool
/build-dev
/build-release
CMakeLists.txt.user
/a
*.exe
compile_commands.json
.cache
main.aot
CTestCostData.txt
